body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  /* background: #fff; */
  padding: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  position: relative;
}

.bookshelf-button{
  position: absolute;
  top: 100px;
  right: 150px;
  border: none;
  border-radius: 20px;
  background-color: green;
  color: white;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#route-id{
  position: absolute;
  top: 10px;
}
input[type="text"] {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  width: 350px;
  border: 2px solid black;
  border-radius: 5px;
}

button {
  /* padding: 10px 20px; */
  /* font-size: 10px; */
  cursor: pointer;
  background-color: green;
  border: none;
  border-radius: 20px;
  color: white;
}

.results {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin: auto;
}

.book-card {
  padding: 10px;
  width: calc(50% - 20px);
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
}

.book-card h3 {
  margin: 0 0 10px;
  font-size: 18px;
}

.book-card button {
  margin-top: 10px;
  height: 30px;
  width: 60%;
  text-wrap: wrap;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  /* background: #f4f4f4; */
  border: 1px solid #ccc;
  border-radius: 4px;
}

nav a:hover {
  background: #e4e4e4;
}
